/* CSS GOES HERE */

.chirpDetails-main-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: #242D34;
    color: white;
    box-sizing: border-box;
}

.chirpDetails-left-container {
    display: flex;
}

.chirpDetails-middle-container {
    min-width: 650px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
    /* padding-top: 1em; */
    border: solid 2px#2F3336;

}

.chirpDetails-middle-container::-webkit-scrollbar {
    display: none;
}

.chirpDetails-right-container {
    display: flex;
}

.single-chirp {
    border: solid 2px#2F3336;
    padding: 1em;
}

.chirp-options-button {
    display: flex;
    justify-content: center;
    max-width: 25px;
    max-height: 25px;
}

.ServerPage-NavBar-buttons {
    cursor: pointer;
}

.chirp-content {
    min-width: 650px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
    overflow-wrap: break-word;

}

.single-chirp-img {
    max-width: 650px;
    max-height: 450px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 55px;
}

.chirp-wrap {
    min-width: 650px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    overflow-wrap: break-word;
}

.single-chirp {
    overflow-wrap: break-word;
}

.chirpDetails-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chirpDetails-right-container img {
    max-width: 75px;
    max-height: 75px;
}