.single-comment {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 1em;
    border: solid 2px#2F3336;
    overflow-wrap: break-word;
    max-width: 750px;
}

.list_comments {
    display: flex;
    flex-direction: column-reverse;
    background-color: red;
}

.all-comment-content {
    display: flex;
    flex-direction: column;
}

.comment-username {
    order: 0;
}

.comment-content {
    order: 2;
    padding: 1em;
    width: 718px;
    box-sizing: border-box;
    
}

.comment-content text {
    overflow-wrap: break-word;
}

/* .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 718px;
    box-sizing: border-box;
} */

.content {
    /* display: flex; */
    flex-direction: row;
    width: 618px;
    justify-content: space-between;
    box-sizing: border-box;
}

.text {
    overflow-wrap: break-word;
    white-space: pre-line;
}

.comment-modals {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.options-buttons {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    cursor: pointer;
    background-color: #81D4EF;
    border-radius: 10px;

}

.Chirps-name {
    max-width: fit-content;
}

.edit-modal-button {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.delete-modal-button {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}