.splashpage-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .left-container {
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .left-backsplash {
    z-index: 1;
  }
  
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    background-color: #242D34;
    padding: 0em 4em;
    width: 100%;
    z-index: 2;
    /* overflow-y: scroll; */
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  .happening-now {
    font-size: 22px;
  }
  
  .logo {
    max-width: 8em;
    max-height: auto;
    margin-left: -27px;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -4em;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
  }
  
  .demo-login {
    margin-left: 1em;
  }
  
  .top-right-container {
    margin-bottom: -4em;
  }