.profile-main-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: #242D34;
    color: white;
    box-sizing: border-box;
}

.profile-left-container {
    display: flex;
}

.profile-middle-container {
    padding-top: 2em;
    min-width: 750px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
    /* padding-top: 1em; */
    border: solid 2px#2F3336;

}

.profile-middle-container::-webkit-scrollbar {
    display: none;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.chirp-profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.profile-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-right-container img {
    max-width: 75px;
    max-height: 75px;
}