/* Chirp Feed CSS HERE */

.chirpFeed-Main-Container {
    height: 100%;
    width: 100%;
    background-color: red;
    color: white;
    box-sizing: border-box;
}

.chirpFeed-chirp_content {
    border: 10px solid greenyellow;
    box-sizing: border-box;
    margin: 1em;
}
.chirpFeed-img {
    max-width: 400px;
    max-height: 400px;
}